{{extend './layout.html'}}
{{block 'content'}}
  <p>{{title}}</p>
  <p>sessionKeyRecordId: {{sessionKeyRecordId}}</p>
  <p>{{now | dateFormat "yyyy-MM-dd hh:mm:ss"}}</p>

  <input id="name" value="zxl" /><br /><br />
  <input id="send-btn" type="button" value="send"></input>
  <p id="output"></p>
  <input id="share-btn" type="button" value="share" style="width: 100px;height:30px;border:solid 1px grey;"></input>
  <script type="text/javascript">
    document.addEventListener('intoMiniprogram', () => { // 只有在小程序内，才会获取数据。浏览器打开页面，不会取数据
      retrieveHomeData()
    }, false)

    // 检查是不是位于小程序内
    let isInMiniprogram = false
    function changeIsInMiniprogramState() {
      if (!isInMiniprogram) {
        isInMiniprogram = true
        $.cookie("isInMiniprogram", true) // 写入cookie，供webview的后续跳转页面判断是否在小程序容器中
        document.dispatchEvent(new Event('intoMiniprogram')) // 发event让页面retrieveHomeData取数据
        console.log('isInMiniprogram', isInMiniprogram);
      }
    }
    if (/token=\d+/.test(window.location.search)) { // 小程序打开webview时url上设置了token
      changeIsInMiniprogramState()
    } else if ( /miniProgram/.test(navigator.userAgent) ) { // 看ua是不是小程序
      changeIsInMiniprogramState()
    } else if (($.cookie("isInMiniprogram") || '') == 'true') { // 从cookie里判断是不是webview的后续跳转
      changeIsInMiniprogramState()
    } else { // 上面自定义的判断都不对，最后用小程序官网推荐的判断方法进行兜底
      function onWeixinJSBridgeReady() {
        if (window.__wxjs_environment === 'miniprogram') {
          changeIsInMiniprogramState()
        }
      }
      if (!window.WeixinJSBridge || !WeixinJSBridge.invoke) {
        document.addEventListener('WeixinJSBridgeReady', onWeixinJSBridgeReady, false)
      } else {
        onWeixinJSBridgeReady()
      }
    }

    function retrieveHomeData() {
      $('#send-btn').bind('click', (e) => {
        let name = $('#name').val()
        console.log('name', name);
        let authorization = $.cookie("Authorization") || ''
        $.ajax({
          url: `http://localhost:3000/user/home?name=${name}`,
          method: 'get',
          headers: {
            'Authorization': authorization
          },
          success(res) {
            console.log('res', res)
            $("#output").text(JSON.stringify(res))
          },
          fail(err) {
            $("#output").text(err)
          }
        })
      })

      $('#share-btn').bind('click', (e) => {
        console.log('share btn click')
        wx.miniProgram.postMessage({
          data: JSON.stringify({
            action: 'share',
            title: window.document.title
          })
        });
        // wx.miniProgram.navigateBack()
      })
    }
  </script>
  <script type="text/javascript" src="/static/js/vconsole.min.js"></script>
  <script>
    var vConsole = new VConsole();
  </script>
{{/block}}